#topNavigation {
	margin-bottom: 30px;
}

#logo {
	color: #000;
	font-size: 21px; 
}

#logo strong {
	color: #c3c3c3;
}

.article-header {
	padding: 20px 0;
}


.article-metadata {
	margin: 45px 0 0.8em;
    padding-bottom: 0.7em;
    border-bottom: 1px solid #ddd;
}

#aboutMe {
	margin-top: 30px;
}

footer {
	margin-top: 50px;
}



html ::selection {
    background: #00d1b2;
    color: #fff;
}